.view-breach-page {
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    max-width: 500px;
    span {
        font-weight: bold;
    }
    .backBtn {
        width: 200px;
        margin: 20px 0;
    }
}
