<div *ngIf="breach" class="view-breach-page">
    <button (click)="navigateBackToList()" class="backBtn" mat-raised-button color="primary">Back To Breach
        List</button>
    <h2><u>More Information About {{breach.Name}}</u></h2>
    <p><span>Title: </span>{{breach.Title}}</p>
    <p><span>Description: </span>{{breach.Description}}</p>
    <p><span>Domain: </span>{{breach.Domain}}</p>
    <p><span>Date Added: </span>{{breach.BreachDate}}</p>
    <p><span>Date Breached: </span>{{breach.AddedDate}}</p>
    <p><span>Date Modified: </span>{{breach.ModifiedDate}}</p>
    <p><span>Pwned Count: </span>{{breach.PwnCount}}</p>
    <p><span>Fabricated: </span>{{breach.IsFabricated}}</p>
    <p><span>Retired: </span>{{breach.IsRetired}}</p>
    <p><span>Spam Listed: </span>{{breach.IsSpamList}}</p>
    <p><span>Sensitive: </span>{{breach.IsSensitive}}</p>
    <p><span>Verified: </span>{{breach.IsVerified}}</p>
</div>